<!-- <mat-list role="list">
    <mat-list-item role="listitem">{{thisPtient.patientsID}}</mat-list-item>
    <mat-list-item role="listitem">{{thisPtient.patientsFullName}}</mat-list-item>
    <mat-list-item role="listitem">{{thisPtient.Adress}}</mat-list-item>
    <mat-list-item role="listitem">{{thisPtient.DateOfBirth}}</mat-list-item>
    <mat-list-item role="listitem">{{thisPtient.PositiveDate}}</mat-list-item>
    <mat-list-item role="listitem">{{thisPtient.NegativeDate}}</mat-list-item>
  </mat-list> -->
  
  <mat-list>
    <mat-list-item>{{thisPtient.patientId}}</mat-list-item>
    
  </mat-list>
  <mat-list>
    <mat-list-item>{{thisPtient.patientFullName}}</mat-list-item>

  </mat-list>
  <!-- <mat-list>
    <mat-list-item>{{thisPtient.DateOfBirth}}</mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>{{thisPtient.Phone}}</mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>{{thisPtient.MobilePhone}}</mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>{{thisPtient.Adress}}</mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>{{thisPtient.LastNegative}}</mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>{{thisPtient.LastPositive}}</mat-list-item>
  </mat-list>-->
  <button mat-raised-button color="warn" routerLinkActive="active" routerLink="/back">back</button> 